<li id="user-line-id-<%= user.id %>" class="users-line" onclick="$.open_user_card('#user-line-id-<%= user.id %>')">
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, :style => "float:right" ,method: :delete,data: { confirm: "You sure?" } %>
    <%= link_to "edit", user, :style => "float:right" %>
    <%= link_to "print", user, :style => "float:right" %>
  <% end %>

	<!-- <ul class="user-card user-card-closed">
		<li> -->
		  <div id="print-body-<%= user.id %>" class="user-card user-card-closed">
		    <aside class="span4">
		      <section>
		        <h1>
		          <%= user.name %>
		        </h1>
		      </section>
		      <section class="user-control-panel">
		        <div>
		          <%= link_to "печать", '#', :class => "btn btn-primary" %>
		        </div>
		      </section>
		    </aside>
		  </div>
		<!-- </li>
	</ul> -->

</li>