<<<<<<< HEAD
<li id="user-line-id-<%= user.id %>" class="users-line" onclick="$.open_user_card('#user-line-id-<%= user.id %>')">
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, :style => "float:right" ,method: :delete,data: { confirm: "You sure?" } %>
    <%= link_to "edit", user, :style => "float:right" %>
    <%= link_to "print", user, :style => "float:right" %>
  <% end %>

	<!-- <ul class="user-card user-card-closed">
		<li> -->
		  <div id="print-body-<%= user.id %>" class="user-card user-card-closed">
		    <aside class="span4">
		      <section>
		        <h1>
		          <%= user.name %>
		        </h1>
		      </section>
		      <section class="user-control-panel">
		        <div>
		          <%= link_to "печать", '#', :class => "btn btn-primary" %>
		        </div>
		      </section>
		    </aside>
		  </div>
		<!-- </li>
	</ul> -->

</li>
=======
<div id="user-line-id-<%= user.id %>" class="users-line" onclick="$.open_user_card('#user-line-id-<%= user.id %>')">
  <div class="user-line-heading">
    <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> -->
	  <ul>
		  <li>
        <%= link_to user.name, user %>
			</li>
		  <li style="float:right">
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "delete", user ,method: :delete,data: { confirm: "You sure?" } %>
        <% end %>
		  </li>
	  </ul>
    <!-- </a> -->
  </div>
  <div id="user-card-<%= user.id %>" class="user-card">
    <div class="user-card-inner">
      <%= user.name %>
    </div>
  </div>
</div>
>>>>>>> updating-users
