<li id="user-line-id-<%= user.id %>" class="users-line" onclick="$.open_user_card('#user-line-id-<%= user.id %>')">
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, :style => "float:right" ,method: :delete,data: { confirm: "You sure?" } %>
    <%= link_to "edit", user, :style => "float:right" %>
    <%= link_to "print", user, :style => "float:right" %>
  <% end %>

  <div id="print-body-<%= user.id %>" class="user-card user-card-closed">

      <aside>


        <div id="print-id-<%= user.id %>" class="hidden-print">
          <div class="content-print-card">

            <section class="print-card-head">
              <div style="font-family: Verdana, Geneva, sans-serif; font-size: 1.25em; text-align:center; font-weight:bold;">ГОРОДСКОЕ УПРАВЛЕНИЕ ЖКХ</div>
              <div style="font-size:12px; text-align:right;">Верхняя Салда</div>
            </section>

            <section class="print-card-body">

                <div style="float:left">
                  <%  if user.avatar? %>
                    <%= image_tag user.avatar, size: "105x135" %>
                  <% end %>
                </div>

              <div style="font-size:12px; text-align:right; float:right"><%= user.name %></div>
            </section>

            <section class="print-card-foot">
              <div style="font-family: Verdana, Geneva, sans-serif; font-size: 1.25em; text-align:right; font-weight:bold; color:#FFF;">1585</div>
            </section>

          </div>
        </div>


      </aside>


      <aside class="user-control-panel">
        <a href="#myModal-<%= user.id %>" role="button" class="btn btn-primary" data-toggle="modal" onclick="$.open_for_print_card('#print-id-<%= user.id %>')">print card</a>
      </aside>

  </div>

</li>

<div id="myModal-<%= user.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.close_card('#print-id-<%= user.id %>')">×</button>
    <h3 id="myModalLabel"><%= user.name %></h3>
  </div>
  <div id="print-id-<%= user.id %>" class="modal-body hidden-print">
    <div class="content-print-card">
      <section class="print-card-head">
        <div style="font-family: Verdana, Geneva, sans-serif; font-size: 1.25em; text-align:center; font-weight:bold;">ГОРОДСКОЕ УПРАВЛЕНИЕ ЖКХ</div>
        <div style="font-size:12px; text-align:right;">Верхняя Салда</div>
      </section>
      <section class="print-card-body">
        <div style="font-family: Verdana, Geneva, sans-serif; font-size: 1.25em; text-align:center; font-weight:bold;">ГОРОДСКОЕ УПРАВЛЕНИЕ ЖКХ</div>
        <div style="font-size:12px; text-align:right;">Верхняя Салда</div>
      </section>
      <section class="print-card-foot">
        <div style="font-family: Verdana, Geneva, sans-serif; font-size: 1.25em; text-align:center; font-weight:bold;">ГОРОДСКОЕ УПРАВЛЕНИЕ ЖКХ</div>
        <div style="font-size:12px; text-align:right;">Верхняя Салда</div>
      </section>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$.close_card('#print-id-<%= user.id %>')">Close</button>
    <button class="btn btn-primary" onclick="print()">Print</button>
  </div>
</div>
